{% extends "users/base.html" %}
{% load static %}
{% block content %}

<style media="screen">
.title,
.title:hover{
  text-decoration: none;
}
</style>

<h1 style="font-family: 'Roboto', sans-serif;">Latest questions</h1>
<a role="button" class="new_question_button" href="{% url 'question:new_question' %}">+Ask your question</a>
{% for question in questions %}
  <a class="title" href="{% url 'question:viewquestion' question.id %}"><h3>{{ question.title }}</h3></a>
  <p>{{ question.date|date:"D d M Y" }}</p>
  <p>{{ question.description|truncatechars:150 }}</p>
{% endfor %}
{% endblock %}
