{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style media="screen">
.title,
.title:hover{
  text-decoration: none;
}
#id_title{
  width: 300px;
}

#id_title:focus{
  border: 3px solid lightblue;
}

#ok,#cancel,#search{
  display: inline-block;
}

.topnav{
  background-color: #5b3485;
}

.new_question_button{
  border-radius: 100px;
  text-decoration: none;
  background-color: orange;
  display: block;
  height: 30px;
  width: 150px;
  color: white;
  text-align:center;
}

.new_question_button:hover{
  border-radius: 100px;
  text-decoration: none;
  background-color: orange;
  display: block;
  height: 30px;
  width: 150px;
  color: white;
  text-align: center;
  text-decoration: none;
}


#up_de_link,
#up_de_link:active{
  text-decoration: none;
  color: white;
}


.title,
.title:hover{
  text-decoration: none;
}

</style>
<h1 style="font-family: 'Roboto', sans-serif;">Latest questions</h1>
<a role="button" class="new_question_button" href="{% url 'question:new_question' %}">+Ask your question</a> <br>
<a role="button" style="background-color:#9fbf71;" class="new_question_button" href="{% url 'question:filter' %}">Advanced Search</a><br>
<form method="get">
    <p id="search">{{ filter.form }}</p>
    <button id="ok" type="submit" class="btn btn-primary"> <span class="fa fa-search"></span></button>
    <a id="cancel" class="btn btn-secondary" href="{% url 'index' %}"><i class="fa fa-remove"></i></a>
</form>
<br>
  <ul>
    {% for filter_question in filter.qs %}
    <a class="title" href="{% url 'question:viewquestion' filter_question.id %}"><h3>{{ filter_question.title }}</h3></a>
    <p>{{ filter_question.date|date:"D d M Y" }}</p>
    <p>{{ filter_question.description|truncatechars:150 }}</p>
    {% endfor %}
  </ul>
{% endblock %}
