{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if signed_up %}
<div class="jumbotron">
  <h1>Thank You for registering</h1>
</div>

{% else %}
  <h1>SignUp Below</h1>

<form method="post">
  {% csrf_token %}
  {% if messages %}

      {% for message in messages %}
      <div class="alert alert-info">
        {{ message }}

      </div>
      <br><br>
  {% endfor %}

  {% endif %}
  {{ user_form|crispy }}
  {{ user_profile_form|crispy }}
  <button class="btn btn-primary" type="submit" name="button">SignUp</button>
</form>
<div class="login">
  Already have a account? <a style="text-decoration:none;" href="{% url 'user:login' %}">Login here</a>
</div>
{% endif %}
{% endblock %}
